body{
  height: 900px;
  font-family: 'Nanum Gothic' !important;
}

.center-div{
  text-align: left;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1300px;
}

.texts{
  font-family: 'Nanum Gothic' !important;
}

#screen{
  width:1300px;
  height:800px;
  margin-top:65px !important;
  font-size: 28px;
  font-family: 'Nanum Gothic', serif;
}

#realScreen{
  width:1100px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#mainName{
  padding-top: 50px;
  text-align: center;
  font-family: 'Jua', serif;
  font-size: 66px;
  margin-bottom: 30px;
}


input::placeholder {
  font-style: italic;
  font-family: 'Nanum Gothic', Regular;
  font-size:11px;
}


 #gameSearch::placeholder{
  font-family: 'Nanum Gothic', Regular;
  font-size:16px;
}


#budgetInputbox{
  width: 6em;
  text-align: right;
  padding-right: 10px;
}

.Title{
  font-family: 'Nanum Gothic', bold;
  text-align: right;
  width:200px;
}


#budgetSlider{
  margin-left: 140px;
  margin-top: 20px;
  margin-right: 0px;
  width:800px;
}

#budgetSlider_Handle{
  position: relative;
  height: 50px;
  width: 20px;
  top: -16px;
  background: #5bc0de;
}

#budgetTicks{
  margin-left:70px;
  font-size: 14px;
}

.budgetTick{
  display:inline-block;
  width: 80px;
  text-align:center;
  margin-left: 75px;
}

#budgetSubmit{
  width: 60px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary[disabled] {
    background-color: #265a8824;
    border-color: #ffffff;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #ff7e7e;
    color: #333;
    font-weight: bold;
}

.set{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}

.Game{
  width:1000px;
  margin-bottom: 0px;
}

.Mode{
  height:70px;
  width:1000px;
  padding-top: 10px;
  padding
}

.modeButton{
  width:200px;
  height:50px;
}

.modeButtonText{
    font-size:24px;
}

.gameSelect{
  width:800px;
  height:150px;
}

#gameSearch{
  width:700px;
  height:30px;
}

#gameSearchTable td{
  padding : 3px;
  font-size: 16px !important;
}

#gameSearchTd{
  padding : 8px !important;
}

#gameTitle{
  padding-top:20px;
  height:30px;
}

.title{
  font-family: "Nanum Gothic", Regular;
  font-size: 2px;
}

.result{
  font-family: "Nanum Gothic", Regular;
  font-size: 2px;
}

.gameSelectorIcon{
  width:170px; !important;
}

#nextButton{
  width: 210px;
}

#nextButtontext{
  font-size: 20px !important;
}

#lastRow{
  width: 1000px;
}

#alertNext{
  width: 700px;
  margin: 0px !important;
  vertical-align: center;
  height: 42px !important;
  font-size: 16px !important;
}

#nextStepConfirm{
  height:auto;
  width:370px;
  position:relative;
  top:-100px;
  left:0px;
}

.actions{
  padding: 10px !important;
}

.final{
  font-size:18px;
}

.PV{
  margin-bottom: 0px;
}
