body{
  height: 900px;
}


.texts{
  font-family: 'Nanum Gothic' !important;
}

#screen{
  width:1300px;
  height:850px;
  margin-top:40px !important;
  font-size: 28px;
  font-family: 'Nanum Gothic', serif;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#realScreen{
  width:1200px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: solid;
}

#breadcrumbContents{
  vertical-align: top !important;
  margin-top: -50px !important;
}


.stateIndicatorSecondRow{
  padding: 8px !important;
}

.Title{
  font-family: 'Nanum Gothic', bold;
  text-align: right;
  width:200px;
}



.btn-primary.disabled, .btn-primary:disabled, .btn-primary[disabled] {
    background-color: #265a8824;
    border-color: #ffffff;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #ff7e7e;
    color: #333;
    font-weight: bold;
}

.stateIndicatorFirstRow{
  padding-top:0px !important;
  padding-bottom: 5px !important;
  vertical-align: middle !important;
}

.moveStepButtontext{
  font-size: 16px !important;
}

#alertNext{
  width: 700px;
  margin: 0px !important;
  vertical-align: center;
  height: 42px !important;
  font-size: 16px !important;
}

#nextStepConfirm{
  height:300px;
  width:350px;
  position:relative;
  top:-100px;
  left:0px;
}

.moveStepButton{
  padding: 12px !important;
  width: 130px !important;
  height: 45px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#progressCell{
  width:100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top:15px !important;
}

#progressIndicator{
  margin-bottom: 5px !important;
}

.stateIndicatorFirstRow.buttonCell{
  width:140px !important;
}

#specIndicator{
  width: 700px !important;
  height: 70px !important;
}

{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}

.stateIndicator{
  width:1100px !important;
  height: 150px !important;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left:20px !important;
  padding-right: 20px !important;
  padding-top: 0px !important;
}

.bigCell{
  border-style: solid;
}

.leftCells{
  width:25%;
}

.rightCells{
  width:75%;
}

#breadcrumbCell{
  height:25%;
  padding-left: 5px;
}

#helpContentsCell{
  height: 70%;
}

.Cells{
  padding:5px;
}

.step{
  padding:5px !important;
  height:60px !important;
  width:300px !important;
}

.content:not(.cardc){
  padding:0px !important;
  height: 50px !important;
  font-size: 14px !important;
}

.nanumStep{
  font-family: 'Nanum Gothic', serif !important;
  height:25px !important;
}

.description.nanumStep{
  height: 15px !important;
  font-size: 13px !important;
}
