body{
  height: 900px;
}


.texts{
  font-family: 'Nanum Gothic' !important;
}

#m_outerScreen{
  width:1400px;
  height:850px;
  margin-top:40px;

  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#m_innerScreen{
  width:1300px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: solid;
}

.bigCell{
  border-style: solid;
}

.leftCells{
  width:322px;
}

.rightCells{
  width:978px;
}

.Cells{
  padding:5px;
}

/* 화면 전체 Organization*/
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 상단부 가격, 스펙 Indicator Cell === stateIndicator */

.stateIndicator{
  width:1200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 0px;
}

.stateIndicatorFirstRow{
  height: 75px;
  padding-top:0px;
  padding-bottom: 5px;

}

.stateIndicatorFirstRow.buttonCell{
  width:140px;
}

.moveStepButtontext{
  font-size: 16px;
}

.stateIndicatorFirstRow.pricebarCell{
  width:100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:15px;
}

#s_pricebar{
  margin-bottom: 5px;
}

/* 위 : 가격바  ||  아래 : 성능지표  */

.stateIndicatorSecondRow{
  padding: 5px;
  padding-top: 0px;
}

.specIndicator{
  width: 800px;
  height: 70px;
}

.mystateIndicator{
  width:auto;
  padding-left:12px !important;
  padding-right: 12px !important;
  margin-left: 0px !important;
}

.mystateIndicatorLabel{
  font-size: 16px !important;
  font-weight: 400 !important;
}

.stateL1{
  font-size:36px;
  font-weight: bold;
  margin-left:-5px;
}

.stateL2{
  font-size:22px;
}

.stateUpper{
  height: 40px;
  margin-bottom: 5px;
}

/* 위 : 성능지표  ||  아래 : 가격상태  */

.stateIndicatorSecondRow{
  text-align: right;
}

.stateIndicatorIndex{
  font-size:18px;
  font-weight: 500;
}

.stateIndicatorValue{
  font-size:30px;
  font-weight: 900;
}

.stateIndicatorSubValue{
  font-size:23px;
  font-weight: 600;
}

.stateIndicatorIndex2{
  font-size:15px;
  font-weight: 400;
}


/* 상단부 가격, 스펙 Indicator Cell === stateIndicator */
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 화면 좌측 Bredcrumb === breadCrumb */

#m_breadcrumbCell{
  height:314px;
}


.step{
  padding:5px !important;
  padding-left:15px !important;
  height:60px;
  width:300px;
}

.eachStep{
  margin-top: 5px;
  height:20px;
}

.description.eachStep{
  height: 15px;
  font-size: 12px;
  font-family: "Nanum Gothic", serif;
}

/* 화면 좌측 Bredcrumb === breadCrumb */
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}

#helpContentsCell{

}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary[disabled] {
    background-color: #265a8824;
    border-color: #ffffff;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #ff7e7e;
    color: #333;
    font-weight: bold;
}





#alertNext{
  width: 700px;
  margin: 0px !important;
  vertical-align: center;
  height: 42px !important;
  font-size: 16px !important;
}

#nextStepConfirm{
  height:300px;
  width:350px;
  position:relative;
  top:-100px;
  left:0px;
}

.moveStepButton{
  padding: 12px !important;
  width: 130px !important;
  height: 45px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}








{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}






.content:not(.cardc){
  padding:0px !important;
  height: 50px !important;
  font-size: 14px !important;
}
