.dr_tableContents{
    font-size: medium;
    font-family: "Nanum Gothic" !important;
    width: 980px;
    margin: auto;
}

p{
  font-family: "Nanum Gothic" !important;
}

td{
  font-family: "Nanum Gothic" !important;
}

.dr_mainContents{
    padding: 2px !important;
    height:100%;
    vertical-align: super;
}

.dr_itemTable {
    font-size: small;
    width: 453px !important;
}

.dr_itemHeader {
    height: 50px;
}

.dr_itemImage{
    height: 50px;
    width: 50px;
}

.dr_itemTable_header{
    height: 130px;
}

.dr_itemContainer td{
    padding: 0 !important;
    text-align: center !important;
}

.dr_itemHeader th{
    padding: 0 !important;
    margin-left: 0 !important;
    text-align: center !important;
    font-size: small;
 }

.dr_itemContainer p{
    margin: 0;
    padding: 0;
}

.dr_align_right{
    text-align: right;
}

.dr_tableContent{
    padding: 10px !important;
    margin: 0px !important;
    height: 630px !important;
    width:475px !important;
}

.dr_left{
  margin-right: 6px !important;
}

.dr_mainContents .dataTables_wrapper{
    width: 100% !important;
}

.dr_itemContainer tr{
    background: url(./background_base.png);
    background-repeat: no-repeat !important;
    /*background-size: 350px 50px !important;*/
}

.dr_itemContainer td{
    background: none !important;
    background-color: transparent !important;
}

.dr_priceButton{
    padding-left: 6px !important;
    padding-right: 6px !important;
    width: 85px;
}

.dataTables_scrollBody{
    border: 1px #e0e0e0 solid !important;
    border-radius: 3px;
    height: 415px !important;
    overflow-x: hidden !important;
}

.dataTables_scrollHeadInner{
    width: 100% !important;
}

.dr_cpu_1,.dr_gpu_1, .dr_th_1{
    width: 50px !important;
}
.dr_cpu_2,.dr_gpu_2, .dr_th_2{
    width: 120px !important;
}
.dr_cpu_3,.dr_gpu_3, .dr_th_3{
    width: 80px !important;
}
.dr_cpu_4,.dr_gpu_4, .dr_th_4{
    width: 80px !important;
}
.dr_cpu_5,.dr_gpu_5, .dr_th_5{
    width: 100px !important;
}
.dr_dimmable .dimmer{
    padding: 0px !important;
}

.CPU_GPU_detail{
  font-size:20px !important;
  align-content:center;
  color:white;
  padding-left:5px;
}
.CPU_GPU_detail:hover{
    color:gray;
}