html { height:100% !important; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
.texts{
  font-family: 'Nanum Gothic' !important;
}

#m_outerScreen{
  width:1400px;
  height:850px;
  margin-top:40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#m_root_Loader{
  width:100% !important;
  height: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#m_innerScreen{
  width:1300px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#m_mainContentsCell{
  height:720px;
}

.leftCells{
  width:322px;
}

.rightCells{
  width:978px;
}

.Cells{
  padding:5px;
}

.d_root{
  padding:10px !important;
  width:978px !important;
  height:707px !important;
  margin-bottom: 14px !important;
  margin-top: 0px !important;
}

.m_moveStepButtons{
  position:absolute;
  top:650px;
}

.m_moveStepButtons .nextButton{
  position:absolute;
  left:795px;
}

.m_moveStepButtons .previousButton{
  position: absolute;
  left:0px;
}


/* 화면 전체 Organization*/
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 상단부 가격, 스펙 Indicator Cell === stateIndicator */



.stateIndicator{
  width:1200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 0px;
}

#s_root{
  table-layout: fixed;
  width:1150px;
  height:60px !important;
  margin-left:auto;
  margin-right: auto;
}

#s_root td{
  padding-bottom: 0px !important;
}

#s_root .stateIndicatorFirstRow{
  height: 75px;
  padding-top:0px;
  padding-bottom: 0px;

}


#s_root .stateIndicatorFirstRow.buttonCell{
  width:180px;
}


#s_root .stateIndicatorFirstRow.pricebarCell{
  padding-left: 15px;
  padding-right: 15px;
  padding-top:15px;
}

#s_root #s_pricebar{
  margin-bottom: 5px;
  height: 30px;
}



/* 위 : 가격바  ||  아래 : 성능지표  */

#s_root .stateIndicatorSecondRow{
  padding: 5px;
  padding-top: 0px;
}

#s_root .specIndicator{
  width: 860px;
  margin-right: 0px !important;
  height: 70px;
}

#s_root .mystateIndicator{
  padding-left:0px !important;
  padding-right: 0px !important;
  margin-left: 12px !important;
  margin-right: 12px !important;
  cursor: pointer;
}

#s_SSD{
  width:142px !important;
}

#s_Storage{
  width:176px !important;
}

#s_RAM{
  width:120px !important;
}

#s_CPU{
  width:147px !important;
}

#s_FPS{
  width:142px !important;
}


#s_root .mystateIndicatorLabel{
  font-size: 16px !important;
  font-weight: 500 !important;
}

#s_root .stateL1{
  font-size:40px;
  font-weight: 700;
  margin-left:-5px;
}

#s_root .stateL2{
  font-size:22px;
  font-weight: 600;
}

#s_root .stateUpper{
  height: 40px;
  margin-bottom: 5px;
}

/* 위 : 성능지표  ||  아래 : 가격상태  */

#s_root .moneyIndicator{

  height:300px;
  margin-top:-50px;
  margin-left: 30px;
  display: inline;
  margin-bottom:50px;
}

#s_root .stateIndicatorIndex{
  font-size:18px;
  font-weight: 500;
}

#s_root .stateIndicatorValue{
  font-size:40px;
  font-weight: 900;

}

#s_root .budgetIndicatorValue{
  font-size:23px;
  font-weight: 900;
}

#s_root .budgetIndicatorValue.realValue{
  display: inline-block;
  font-size:23px;
  text-align: right;
  font-weight: 900;
  width:112px;
}


#s_root .stateIndicatorSubValue{
  font-size:23px;
  font-weight: 600;
}

#s_root .stateIndicatorIndex2{
  font-size:15px;
  font-weight: 400;
}


/* 상단부 가격, 스펙 Indicator Cell === stateIndicator */
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 화면 좌측 Bredcrumb === breadCrumb */

#m_breadcrumbCell{
  height:314px;
}


#b_root .step{
  padding:5px !important;
  padding-left:15px !important;
  height:60px;
  width:300px;
}

#b_root .eachStep{
  margin-top: 5px;
  height:20px;
}

#b_root .description.eachStep{
  height: 15px;
  font-size: 12px;
  font-family: "Nanum Gothic", serif;
}

#b_root .content{
  padding:0px;
  height: 50px;
  font-size: 14px;
}

/* 화면 좌측 Bredcrumb === breadCrumb */
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 도움말 칸 === m_help */
#helpContentsCell{

}

{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
/* 창 이동 버튼 */


#m_next_button{
  float: right;
}

.moveStepButton{
  padding:5px !important;
  width: 150px !important;
  height: 45px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-size: 20px !important;
}

#m_next_button{
  float: right;
}

.ui.disabled.button[data-tooltip] {
  pointer-events: auto !important;
  opacity: 1 !important;
  background-color: rgb(177,223,181);
}


{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}


.cheap{
  color:#21ba45 !important;
}

.expensive{
  color:#db2828 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #ffffff3d !important;
    background: #2284d0 !important;
    font-weight: normal !important;
    color: #fff !important;
}

.ui.basic.violet.button.expensive:hover{
  color:#db2828 !important;
  font-weight: 600;
}

.ui.basic.violet.button.cheap:hover{
  color:#21ba45 !important;
  font-weight: 600;
}
{{{{{{{{{{{{{{{{{{{{{  }}}}}}}}}}}}}}}}}}}}}

#alertNext{
  width: 700px;
  margin: 0px !important;
  vertical-align: center;
  height: 42px !important;
  font-size: 16px !important;
}

#m_homeConfirm{
  height:auto;
  width:370px;
  position:relative;
  top:-100px;
  left:0px;
}


.actions{
  padding: 10px !important;
}

.final{
  font-size:18px;
}
