.dr_tableContents{
    font-size: medium;
    width: 968px;
    margin: auto;
}

#dr_mainContents{
    padding: 2px !important;
    height:100%;
}

.dr_itemTable {
    font-size: small;
}

.dr_itemHeader {
    height: 50px;
}

.dr_itemImage{
    height: 50px;
    width: 50px;
}

.dr_itemTable_header{
    height: 130px;
}

.dr_itemContainer td{
    padding: 0 !important;
    text-align: center !important;
}

.dr_itemHeader th{
    padding: 0 !important;
    margin-left: 0 !important;
    text-align: center !important;
    font-size: small;
 }

.dr_itemContainer p{
    margin: 0;
    padding: 0;
}

.dr_align_right{
    text-align: right;
}

.dr_tableContent{
    padding: 2px !important;
}

.dr_mainContents .dataTables_wrapper{
    width: 484px !important;
}