
.bigTitle{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top:5px;
}



.segment{
  padding: 15px;
}

.f_itemContainer td{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.f_thead{
  font-weight:bold !important;

}
.f_text{
  vertical-align:middle !important;

  font-size:20px; 
}
.f_table_row{
  height:50px;
}

.f_img{
  width:50px;
  height:50px;
}

.myDivider{
  margin-bottom:15px !important;
  margin-top:8px !important;
}

.