#realScreen{
  border: none;
}


#title{
  margin-bottom: 5px;
  padding-top:5px;
}

#mainContentsCell{
  height:720px;
}

#mainContents{
  display: table-cell;
  vertical-align: top;
  height: 720px;
}

.bigCell{
  border-style: none !important;
}

.bigTitle{
  font-size: 24px;
  font-weight: bold;
  align-items:  right;
}

#segmantWrapper{
  padding:10px !important;
  width:888px !important;
}



